.graphContainer {
  width: 100%;
  height: auto;
  margin-top: 15px;
  animation: fadeDown 0.3s ease;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.healthCard {
  cursor: pointer;
  transition: all 0.3s ease;
}

.healthCard:hover {
  transform: scale(1.02);
}


.chartPanel {
  width: 100%;
 
  padding: 15px;
  background: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid #e5e7eb;
  animation: fadeDown 0.3s ease;
  margin-top: 25px !important;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
