:root {
    /* Paleta principal */
    --primary: #FFB673;       /* Naranja durazno suave */
    --primary-dark: #E38C4D;
    --primary-hover: #FFC085;

    --secondary: #8ECDF2;     /* Azul bebé */
    --secondary-dark: #5AAED4;

    --accent: #7DD3A9;        /* Verde menta */
    --accent-dark: #52B985;

    /* Fondos y superficies */
    --background: #FAFAFC;    /* Fondo limpio */
    --surface: #FFFFFF;       /* Tarjetas */
    
    --title-color: #374151;   /* Gris profesional */
    --text-color: #4B5563 ;
    --muted-text: #9CA3AF;
    
    /* Texto */
    /* --text-color: #333333;
    --text-light: #8f0404;
    
    --muted-text: #6B7280; */
    
    /* Estética */
    --border-radius: 3px;
    --transition: 0.25s ease;
    --shadow: 0 6px 14px rgba(11,22,39,0.06);

    /* HEADER */
    --head-bg:#245AB2;

}



#root {

  margin: 0 auto;
  
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
