:root {
    /* Paleta principal */
    --primary: #ED9263;
    --primary-light: #FFB58F;

    --secondary: #8ED6CB;
    
    --third: #018061;
    --third-light: #30A386;
    --third-faded: #0180600a;

    --accent: #245AB2;
    --accent-light: #4372BD;
    --accent-faded:#e2e2e2;

    --bckgrnd: #fcfcfc;
    
    --title-color: #018061;
    
    /* Texto */
    --text-color: #333333;
    --text-light: #8f0404;
    
    --muted-text: #6B7280;
    
    /* Estética */
    --border-radius: 14px;
    
    --transition: 0.3s ease;
    
    --shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

}



#root {

  margin: 0 auto;
  
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
