:root {
  /* Paleta principal */
  --primary: #ED9263;       /* Naranja principal cálido */
  --secondary: #8ED6CB;     /* Verde agua suave */
  --accent: #245AB2;        /* Azul profundo de contraste */
  --background: #FFFFFF;    /* Fondo base */
  --title-color: #018061;   /* Verde oscuro para títulos */

  /* Texto */
  --text-color: #333333;
  --muted-text: #6B7280;

  /* Estética */
  --border-radius: 14px;
  --transition: 0.3s ease;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

#root {

  margin: 0 auto;
  
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
