:root {
  --primary: #ED9263;      
  --secondary: #8ED6CB;    
  --tertiary: #245AB2;     
  --base-white: #FFFFFF;
  --text-dark: #333;
  --text-light: #666;
  --background-light: #f8f9fa;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
}