/* Full page wrapper */
.loginWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #eac8a651, #8ed6cb51);
  backdrop-filter: blur(8px);
  padding: 2rem;
}

/* Main card */
.loginCard {
  background: #ffffffee; /* Blanco sólido con leve transparencia */
  padding: 3rem 3rem;
  border-radius: 22px;
  width: 100%;
  max-width: 420px;

  box-shadow: 
      0px 10px 30px rgba(0, 0, 0, 0.15),
      0px 3px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* Logo styles */
.logo {
  width: 90px;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 2rem;
}

/* Form general */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

/* Inputs */
.inputGroup {
  text-align: left;
}

.inputGroup label {
  font-weight: 600;
  color: #333;
  margin-bottom: 0.35rem;
  display: block;
}

.inputGroup input {
  width: 100%;
  padding: 0.85rem 1rem;
  border: 1.6px solid #dcdcdc;
  border-radius: 12px;
  background: #fdfdfd;

  font-size: 1rem;
  transition: all 0.25s ease;
}

.inputGroup input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px rgba(36, 90, 178, 0.2);
}

/* Password input overlay */
.passwordInputContainer {
  position: relative;
  
}

.togglePasswordVisibility {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Options row */
.options {
  display: flex;
  justify-content: space-between;
  margin-top: -0.4rem;
}

.forgotPassword {
  color: var(--secondary);
  cursor: pointer;
}

/* Error box */
.error {
  background-color: #ffe0e0;
  color: #9b2c2c;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

/* Submit button */
.submitButton {
  background: var(--secondary);
  padding: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: transform 0.25s, background 0.25s;
}

.submitButton:hover {
  background: #6abbac;
  transform: translateY(-2px);
}
